@model List<Product>

<h1>List of Products</h1>

<a asp-controller="Product" asp-action="ProductForm" class="btn btn-success topbottomspace">NEW</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>Edit | Delete</td>
            </tr>
        }
    </tbody>
</table>